# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Model checkpoints & outputs
outputs/*
!outputs/.gitkeep
*.pt
*.pth
*.ckpt

# Notebooks checkpoints
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Env
.env
